<link rel="import" href="chrome://resources/html/polymer.html">

<link rel="import" href="actions.html">
<link rel="import" href="browser_proxy.html">
<link rel="import" href="chrome_app_permission_view.html">
<link rel="import" href="main_view.html">
<link rel="import" href="notifications_view.html">
<link rel="import" href="pwa_permission_view.html">
<link rel="import" href="router.html">
<link rel="import" href="store.html">
<link rel="import" href="store_client.html">
<link rel="import" href="chrome://resources/cr_elements/cr_toolbar/cr_toolbar.html">

<link rel="import" href="api_listener.html">

<dom-module id="app-management-app">
  <template>
    <style include="app-management-shared-css">
    :host {
      font-size: var(--app-management-font-size);
      line-height: var(--app-management-line-height);
    }

    cr-toolbar {
      background: var(--md-toolbar-color);
    }
    </style>
    <cr-toolbar page-name="$i18n{title}" search-prompt="$i18n{searchPrompt}">
    </cr-toolbar>
    <template is="dom-if" if="[[mainViewSelected_]]">
      <app-management-main-view></app-management-main-view>
    </template>
    <template is="dom-if" if="[[notificationsViewSelected_]]">
      <app-management-notifications-view></app-management-notifications-view>
    </template>
    <template is="dom-if" if="[[pwaPermissionViewSelected_]]">
      <app-management-pwa-permission-view></app-management-pwa-permission-view>
    </template>
    <template is="dom-if" if="[[chromeAppPermissionViewSelected_]]">
      <app-management-chrome-app-permission-view>
      </app-management-chrome-app-permission-view>
    </template>
    <app-management-router></app-management-router>
  </template>
  <script src="app.js"></script>
</dom-module>
