<link rel="import" href="chrome://resources/html/polymer.html">

<link rel="import" href="actions.html">
<link rel="import" href="store_client.html">
<link rel="import" href="constants.html">
<link rel="import" href="chrome://resources/polymer/v1_0/iron-location/iron-location.html">
<link rel="import" href="chrome://resources/polymer/v1_0/iron-location/iron-query-params.html">

<dom-module id="app-management-router">
  <template>
    <iron-location query="{{urlQuery_}}" path="{{path_}}" dwell-time="-1">
    </iron-location>
    <iron-query-params params-string="{{query_}}"
        params-object="{{queryParams_}}"></iron-query-params>
  </template>
  <script src="router.js"></script>
</dom-module>
