<link rel="import" href="chrome://resources/html/polymer.html">

<link rel="import" href="chrome://resources/cr_elements/cr_lazy_render/cr_lazy_render.html">
<link rel="import" href="chrome://resources/cr_elements/hidden_style_css.html">
<link rel="import" href="chrome://resources/cr_elements/shared_vars_css.html">
<link rel="import" href="chrome://resources/html/event_tracker.html">
<link rel="import" href="chrome://resources/html/i18n_behavior.html">
<link rel="import" href="../data/destination.html">
<link rel="import" href="../data/destination_store.html">
<link rel="import" href="../data/invitation_store.html">
<link rel="import" href="../data/user_info.html">
<link rel="import" href="destination_dialog.html">
<link rel="import" href="destination_select.html">
<link rel="import" href="print_preview_shared_css.html">
<link rel="import" href="throbber_css.html">
<link rel="import" href="settings_section.html">
<link rel="import" href="state.html">
<link rel="import" href="strings.html">

<dom-module id="print-preview-destination-settings">
  <template>
    <style include="print-preview-shared throbber cr-hidden-style">
      .throbber-container {
        align-items: center;
        display: flex;
        overflow: hidden;
      }

      .destination-status {
        color: var(--google-grey-700);
        font-size: calc(12/13 * 1em);
        overflow: hidden;
        padding-top: 4px;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      #destinationSelect {
        margin-inline-start: 13px;
      }

      print-preview-settings-section.destination-status-wrapper,
      print-preview-settings-section.destination-status-wrapper div {
        height: 100%;
        min-height: 0;
      }
    </style>
    <print-preview-settings-section>
      <span slot="title">$i18n{destinationLabel}</span>
      <div slot="controls">
        <div class="throbber-container" hidden$="[[!shouldShowSpinner_]]">
          <div class="throbber"></div>
          <div class="destination-throbber-name"></div>
        </div>
        <print-preview-destination-select id="destinationSelect"
            hidden$="[[shouldShowSpinner_]]"
            active-user="[[activeUser]]"
            app-kiosk-mode="[[appKioskMode]]"
            cloud-print-state="[[cloudPrintState]]"
            destination="[[destination]]"
            disabled="[[shouldDisableDropdown_(destinationStore, disabled,
                                               shouldShowSpinner_, state)]]"
            no-destinations-found="[[noDestinationsFound]]"
            recent-destination-list="[[recentDestinationList_]]"
            on-selected-option-change="onSelectedDestinationOptionChange_">
        </print-preview-destination-select>
      </div>
    </print-preview-settings-section>
    <print-preview-settings-section class="destination-status-wrapper"
        hidden$="[[!statusText_]]">
      <div slot="title"></div>
      <div slot="controls">
        <div class="destination-status">[[statusText_]]</div>
      </div>
    </print-preview-settings-section>
    <cr-lazy-render id="destinationDialog">
      <template>
        <print-preview-destination-dialog
            cloud-print-state="[[cloudPrintState]]"
            destination-store="[[destinationStore]]"
            invitation-store="[[invitationStore]]"
            recent-destination-list="[[recentDestinationList_]]"
            active-user="[[activeUser]]" users="[[users]]"
            on-close="onDialogClose_">
        </print-preview-destination-dialog>
      </template>
    </cr-lazy-render>
  </template>
  <script src="destination_settings.js"></script>
</dom-module>
