<link rel="import" href="chrome://resources/html/polymer.html">

<link rel="import" href="chrome://resources/cr_elements/cr_dialog/cr_dialog.html">
<link rel="import" href="chrome://resources/html/assert.html">
<link rel="import" href="chrome://resources/html/cr/ui/focus_without_ink.html">
<link rel="import" href="chrome://resources/html/i18n_behavior.html">
<link rel="import" href="chrome://resources/html/web_ui_listener_behavior.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-button/paper-button.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-icon-button/paper-icon-button-light.html">
<link rel="import" href="../clear_browsing_data_dialog/clear_browsing_data_dialog.html">
<link rel="import" href="../controls/settings_toggle_button.html">
<link rel="import" href="../lifetime_browser_proxy.html">
<link rel="import" href="../people_page/sync_browser_proxy.html">
<link rel="import" href="../people_page/signout_dialog.html">
<link rel="import" href="../route.html">
<link rel="import" href="../settings_page/settings_animated_pages.html">
<link rel="import" href="../settings_page/settings_subpage.html">
<link rel="import" href="../settings_shared_css.html">
<link rel="import" href="../site_settings/all_sites.html">
<link rel="import" href="../site_settings/category_default_setting.html">
<link rel="import" href="../site_settings/category_setting_exceptions.html">
<link rel="import" href="../site_settings/chooser_exception_list.html">
<link rel="import" href="../site_settings/constants.html">
<link rel="import" href="../site_settings/media_picker.html">
<link rel="import" href="../site_settings/pdf_documents.html">
<link rel="import" href="../site_settings/protocol_handlers.html">
<link rel="import" href="../site_settings/site_data_details_subpage.html">
<link rel="import" href="../site_settings/site_data.html">
<link rel="import" href="../site_settings/site_details.html">
<link rel="import" href="../site_settings/zoom_levels.html">
<link rel="import" href="../site_settings_page/site_settings_page.html">

<if expr="not chromeos">
<link rel="import" href="chrome://resources/cr_elements/cr_toast/cr_toast.html">
</if>
<if expr="use_nss_certs">
  <link rel="import" href="chrome://resources/cr_components/certificate_manager/certificate_manager.html">
</if>
<link rel="import" href="privacy_page_browser_proxy.html">
<link rel="import" href="personalization_options.html">

<dom-module id="settings-privacy-page">
  <template>
    <style include="settings-shared">
<if expr="not chromeos">
      #toast {
        left: 0;
        z-index: 1;
      }

      :host-context([dir='rtl']) #toast {
        left: auto;
        right: 0;
      }
</if>
    </style>
    <template is="dom-if" if="[[showClearBrowsingDataDialog_]]" restamp>
      <settings-clear-browsing-data-dialog prefs="{{prefs}}"
          on-close="onDialogClosed_">
      </settings-clear-browsing-data-dialog>
    </template>
    <template id="doNotTrackDialogIf" is="dom-if"
        if="[[showDoNotTrackDialog_]]" notify-dom-change
        on-dom-change="onDoNotTrackDomChange_">
      <cr-dialog id="confirmDoNotTrackDialog"
          close-text="$i18n{close}" on-cancel="onDoNotTrackDialogCancel_"
          on-close="onDoNotTrackDialogClosed_">
        <div slot="title">$i18n{doNotTrackDialogTitle}</div>
        <div slot="body">$i18nRaw{doNotTrackDialogMessage}</div>
        <div slot="button-container">
          <paper-button class="cancel-button"
              on-click="onDoNotTrackDialogCancel_">
            $i18n{cancel}
          </paper-button>
          <paper-button class="action-button"
              on-click="onDoNotTrackDialogConfirm_">
            $i18n{confirm}
          </paper-button>
        </div>
      </cr-dialog>
    </template>
    <settings-animated-pages id="pages" section="privacy"
        focus-config="[[focusConfig_]]">
      <div route-path="default">
        <template is="dom-if" if="[[!unifiedConsentEnabled_]]">
          <div class="settings-box first">
            <p class="privacy-explanation">
              $i18nRaw{improveBrowsingExperience}
            </p>
          </div>
        </template>
        <cr-link-row label="$i18n{syncAndNonPersonalizedServices}"
           sub-label="$i18n{syncAndGoogleServicesPrivacyDescription}"
           icon-class="subpage-arrow" on-click="onSyncAndGoogleServicesClick_"
           hidden="[[!unifiedConsentEnabled_]]">
        </cr-link-row>
<if expr="not chromeos">
        <settings-toggle-button id="signinAllowedToggle"
            pref="{{prefs.signin.allowed_on_next_startup}}"
            label="$i18n{signinAllowedTitle}"
            sub-label="$i18n{signinAllowedDescription}"
            on-settings-boolean-control-change="onSigninAllowedChange_"
            no-set-pref>
        </settings-toggle-button>
</if><!-- not chromeos -->
        <template is="dom-if" if="[[!unifiedConsentEnabled_]]">
          <settings-personalization-options prefs="{{prefs}}"
              page-visibility="[[pageVisibility]]"
              unified-consent-enabled="[[unifiedConsentEnabled_]]">
          </settings-personalization-options>
        </template>
        <settings-toggle-button id="doNotTrack"
            pref="{{prefs.enable_do_not_track}}" label="$i18n{doNotTrack}"
            on-settings-boolean-control-change="onDoNotTrackChange_"
            no-set-pref>
        </settings-toggle-button>
        <settings-toggle-button id="canMakePaymentToggle"
            aria-label="$i18n{canMakePaymentToggleLabel}"
            label="$i18n{canMakePaymentToggleLabel}"
            pref="{{prefs.payments.can_make_payment_enabled}}">
        </settings-toggle-button>
        <settings-toggle-button hidden="[[!pageVisibility.networkPrediction]]"
            pref="{{prefs.net.network_prediction_options}}"
            label="$i18n{networkPredictionEnabled}"
            sub-label="$i18n{networkPredictionEnabledDesc}"
            numeric-unchecked-value="[[networkPredictionUncheckedValue_]]">
        </settings-toggle-button>
<if expr="chromeos">
        <settings-toggle-button
            pref="{{prefs.cros.device.attestation_for_content_protection_enabled}}"
            label="$i18n{enableContentProtectionAttestation}">
        </settings-toggle-button>
        <settings-toggle-button
            pref="{{prefs.settings.internet.wake_on_wifi_darkconnect}}"
            label="$i18n{wakeOnWifi}">
        </settings-toggle-button>
</if>
<if expr="use_nss_certs or is_win or is_macosx">
        <div id="manageCertificates" class="settings-box two-line"
            actionable on-click="onManageCertificatesTap_">
          <div class="start">
            $i18n{manageCertificates}
            <div class="secondary" id="manageCertificatesSecondary">
              $i18n{manageCertificatesDescription}
            </div>
          </div>
<if expr="use_nss_certs">
          <paper-icon-button-light class="subpage-arrow">
            <button aria-label="$i18n{manageCertificates}"
                aria-describedby="manageCertificatesSecondary"></button>
          </paper-icon-button-light>
</if>
<if expr="not use_nss_certs">
          <paper-icon-button-light class="icon-external">
            <button aria-label="$i18n{manageCertificates}"
                aria-describedby="manageCertificatesSecondary"></button>
          </paper-icon-button-light>
</if>
        </div>
</if>
        <div id="site-settings-subpage-trigger"
            class="settings-box two-line" actionable
            on-click="onSiteSettingsTap_">
          <div class="start">
            [[siteSettingsPageTitle_()]]
            <div class="secondary" id="siteSettingsSecondary">
              $i18n{siteSettingsDescription}
            </div>
          </div>
          <paper-icon-button-light class="subpage-arrow">
            <button aria-label$="[[siteSettingsPageTitle_()]]"
                aria-describedby="siteSettingsSecondary"></button>
          </paper-icon-button-light>
        </div>
        <div class="settings-box two-line" id="clearBrowsingData"
            on-click="onClearBrowsingDataTap_" actionable>
          <div class="start">
            $i18n{clearBrowsingData}
            <div class="secondary" id="clearBrowsingDataSecondary">
              $i18n{clearBrowsingDataDescription}
            </div>
          </div>
          <paper-icon-button-light class="subpage-arrow">
            <button id="clearBrowsingDataTrigger"
                aria-label="$i18n{clearBrowsingData}"
                aria-describedby="clearBrowsingDataSecondary"></button>
          </paper-icon-button-light>
        </div>
      </div>
<if expr="use_nss_certs">
      <template is="dom-if" route-path="/certificates">
        <settings-subpage
            associated-control="[[$$('#manageCertificates')]]"
            page-title="$i18n{manageCertificates}">
          <certificate-manager></certificate-manager>
        </settings-subpage>
      </template>
</if>
      <template is="dom-if" route-path="/content">
        <settings-subpage
            associated-control="[[$$('#site-settings-subpage-trigger')]]"
            id="site-settings"
            page-title="[[siteSettingsPageTitle_()]]"
            learn-more-url="$i18n{exceptionsLearnMoreURL}">
          <settings-site-settings-page focus-config="[[focusConfig_]]">
          </settings-site-settings-page>
        </settings-subpage>
      </template>

      <template is="dom-if" route-path="/content/all" no-search>
        <settings-subpage page-title="$i18n{siteSettingsAllSites}">
          <all-sites focus-config="[[focusConfig_]]"></all-sites>
        </settings-subpage>
      </template>
      <template is="dom-if" route-path="/content/automaticDownloads" no-search>
        <settings-subpage page-title="$i18n{siteSettingsAutomaticDownloads}"
            search-label="$i18n{siteSettingsAllSitesSearch}"
            search-term="{{searchFilter_}}">
          <category-default-setting
              toggle-off-label="$i18n{siteSettingsAutoDownloadBlock}"
              toggle-on-label="$i18n{siteSettingsAutoDownloadAskRecommended}"
              category="{{ContentSettingsTypes.AUTOMATIC_DOWNLOADS}}">
          </category-default-setting>
          <category-setting-exceptions
              category="{{ContentSettingsTypes.AUTOMATIC_DOWNLOADS}}"
              block-header="$i18n{siteSettingsBlock}"
              search-filter="[[searchFilter_]]">
          </category-setting-exceptions>
        </settings-subpage>
      </template>
      <template is="dom-if" route-path="/content/backgroundSync" no-search>
        <settings-subpage page-title="$i18n{siteSettingsBackgroundSync}"
            search-label="$i18n{siteSettingsAllSitesSearch}"
            search-term="{{searchFilter_}}">
          <category-default-setting
              toggle-off-label="$i18n{siteSettingsBackgroundSyncBlocked}"
              toggle-on-label=
                  "$i18n{siteSettingsAllowRecentlyClosedSitesRecommended}"
              category="{{ContentSettingsTypes.BACKGROUND_SYNC}}">
          </category-default-setting>
          <category-setting-exceptions
              category="{{ContentSettingsTypes.BACKGROUND_SYNC}}"
              block-header="$i18n{siteSettingsBlock}"
              search-filter="[[searchFilter_]]">
          </category-setting-exceptions>
        </settings-subpage>
      </template>
      <template is="dom-if" route-path="/content/camera" no-search>
        <settings-subpage page-title="$i18n{siteSettingsCategoryCamera}"
            search-label="$i18n{siteSettingsAllSitesSearch}"
            search-term="{{searchFilter_}}">
          <media-picker label="$i18n{siteSettingsCameraLabel}" type="camera">
          </media-picker>
          <category-default-setting category="{{ContentSettingsTypes.CAMERA}}"
              toggle-off-label="$i18n{siteSettingsBlocked}"
              toggle-on-label=
                  "$i18n{siteSettingsAskBeforeAccessingRecommended}">
          </category-default-setting>
          <category-setting-exceptions
              category="{{ContentSettingsTypes.CAMERA}}" read-only-list
              block-header="$i18n{siteSettingsBlock}"
              search-filter="[[searchFilter_]]">
          </category-setting-exceptions>
        </settings-subpage>
      </template>
      <template is="dom-if" route-path="/content/cookies" no-search>
        <settings-subpage page-title="$i18n{siteSettingsCategoryCookies}"
            search-label="$i18n{siteSettingsAllSitesSearch}"
            search-term="{{searchFilter_}}">
          <category-default-setting category="{{ContentSettingsTypes.COOKIES}}"
              toggle-off-label="$i18n{siteSettingsBlocked}"
              toggle-on-label="$i18n{siteSettingsCookiesAllowedRecommended}"
              sub-option-label="$i18n{deleteDataPostSession}">
          </category-default-setting>
          <settings-toggle-button
              pref="{{prefs.profile.block_third_party_cookies}}"
              label="$i18n{thirdPartyCookie}"
              sub-label="$i18n{thirdPartyCookieSublabel}">
          </settings-toggle-button>
          <div id="site-data-trigger" class="settings-box" actionable
              on-click="onSiteDataTap_">
             <div class="start" id="cookiesLink">
               $i18n{siteSettingsCookieLink}
             </div>
             <paper-icon-button-light class="subpage-arrow">
               <button aria-labelledby="cookiesLink"></button>
             </paper-icon-button-light>
          </div>
          <category-setting-exceptions
              category="{{ContentSettingsTypes.COOKIES}}"
              block-header="$i18n{siteSettingsBlock}"
              search-filter="[[searchFilter_]]">
          </category-setting-exceptions>
        </settings-subpage>
      </template>
      <template is="dom-if" route-path="/siteData" no-search>
        <settings-subpage page-title="$i18n{siteSettingsCookieHeader}"
            search-label="$i18n{siteSettingsCookieSearch}"
            search-term="{{siteDataFilter_}}">
          <site-data filter="[[siteDataFilter_]]"
              focus-config="[[focusConfig_]]">
          </site-data>
        </settings-subpage>
      </template>
      <template is="dom-if" route-path="/content/images" no-search>
        <settings-subpage page-title="$i18n{siteSettingsCategoryImages}"
            search-label="$i18n{siteSettingsAllSitesSearch}"
            search-term="{{searchFilter_}}">
          <category-default-setting category="{{ContentSettingsTypes.IMAGES}}"
              toggle-off-label="$i18n{siteSettingsDontShowImages}"
              toggle-on-label="$i18n{siteSettingsShowAllRecommended}">
          </category-default-setting>
          <category-setting-exceptions
              category="{{ContentSettingsTypes.IMAGES}}"
              block-header="$i18n{siteSettingsBlock}"
              search-filter="[[searchFilter_]]">
          </category-setting-exceptions>
        </settings-subpage>
      </template>
      <template is="dom-if" route-path="/content/location" no-search>
        <settings-subpage page-title="$i18n{siteSettingsCategoryLocation}"
            search-label="$i18n{siteSettingsAllSitesSearch}"
            search-term="{{searchFilter_}}">
          <category-default-setting
              toggle-off-label="$i18n{siteSettingsBlocked}"
              toggle-on-label="$i18n{siteSettingsAskBeforeAccessingRecommended}"
              category="{{ContentSettingsTypes.GEOLOCATION}}">
          </category-default-setting>
          <category-setting-exceptions
              category="{{ContentSettingsTypes.GEOLOCATION}}" read-only-list
              block-header="$i18n{siteSettingsBlock}"
              search-filter="[[searchFilter_]]">
          </category-setting-exceptions>
        </settings-subpage>
      </template>
      <template is="dom-if" route-path="/handlers" no-search>
        <settings-subpage page-title="$i18n{siteSettingsCategoryHandlers}">
          <protocol-handlers
              toggle-off-label="$i18n{siteSettingsHandlersBlocked}"
              toggle-on-label="$i18n{siteSettingsHandlersAskRecommended}">
          </protocol-handlers>
        </settings-subpage>
      </template>
      <template is="dom-if" route-path="/content/zoomLevels" no-search>
        <settings-subpage page-title="$i18n{siteSettingsCategoryZoomLevels}">
          <zoom-levels></zoom-levels>
        </settings-subpage>
      </template>
      <template is="dom-if" route-path="/content/pdfDocuments" no-search>
        <settings-subpage page-title="$i18n{siteSettingsPdfDocuments}">
          <settings-pdf-documents prefs="{{prefs}}"></settings-pdf-documents>
        </settings-subpage>
      </template>
      <template is="dom-if" route-path="/content/javascript" no-search>
        <settings-subpage page-title="$i18n{siteSettingsCategoryJavascript}"
            search-label="$i18n{siteSettingsAllSitesSearch}"
            search-term="{{searchFilter_}}">
          <category-default-setting
              toggle-off-label="$i18n{siteSettingsBlocked}"
              toggle-on-label="$i18n{siteSettingsAllowedRecommended}"
              category="{{ContentSettingsTypes.JAVASCRIPT}}">
          </category-default-setting>
          <category-setting-exceptions
              category="{{ContentSettingsTypes.JAVASCRIPT}}"
              block-header="$i18n{siteSettingsBlock}"
              search-filter="[[searchFilter_]]">
          </category-setting-exceptions>
        </settings-subpage>
      </template>
      <template is="dom-if" if="[[enableSoundContentSetting_]]"
          no-search>
        <template is="dom-if" route-path="/content/sound" no-search>
          <settings-subpage page-title="$i18n{siteSettingsSound}"
              search-label="$i18n{siteSettingsAllSitesSearch}"
              search-term="{{searchFilter_}}">
            <category-default-setting
                toggle-off-label="$i18n{siteSettingsSoundBlock}"
                toggle-on-label="$i18n{siteSettingsSoundAllowRecommended}"
                category="{{ContentSettingsTypes.SOUND}}">
            </category-default-setting>
            <settings-toggle-button
                id="block-autoplay-setting"
                label="$i18n{siteSettingsBlockAutoplaySetting}"
                pref="{{blockAutoplayStatus_.pref}}"
                disabled="[[!blockAutoplayStatus_.enabled]]"
                hidden="[[!enableBlockAutoplayContentSetting_]]"
                on-settings-boolean-control-change="onBlockAutoplayToggleChange_"
                no-set-pref>
            </settings-toggle-button>
            <category-setting-exceptions
                category="{{ContentSettingsTypes.SOUND}}"
                block-header="$i18n{siteSettingsBlockSound}"
                search-filter="[[searchFilter_]]">
            </category-setting-exceptions>
          </settings-subpage>
        </template>
      </template>
      <template is="dom-if" route-path="/content/microphone" no-search>
        <settings-subpage page-title="$i18n{siteSettingsCategoryMicrophone}"
            search-label="$i18n{siteSettingsAllSitesSearch}"
            search-term="{{searchFilter_}}">
          <media-picker label="$i18n{siteSettingsMicrophoneLabel}" type="mic">
          </media-picker>
          <category-default-setting category="{{ContentSettingsTypes.MIC}}"
              toggle-off-label="$i18n{siteSettingsBlocked}"
              toggle-on-label=
                  "$i18n{siteSettingsAskBeforeAccessingRecommended}">
          </category-default-setting>
          <category-setting-exceptions
              category="{{ContentSettingsTypes.MIC}}" read-only-list
              block-header="$i18n{siteSettingsBlock}"
              search-filter="[[searchFilter_]]">
          </category-setting-exceptions>
        </settings-subpage>
      </template>
      <template is="dom-if" if="[[enableSensorsContentSetting_]]" no-search>
        <template is="dom-if" route-path="/content/sensors" no-search>
          <settings-subpage page-title="$i18n{siteSettingsSensors}"
              search-label="$i18n{siteSettingsAllSitesSearch}"
              search-term="{{searchFilter_}}">
            <category-default-setting
                toggle-off-label="$i18n{siteSettingsSensorsBlock}"
                toggle-on-label="$i18n{siteSettingsSensorsAllow}"
                category="{{ContentSettingsTypes.SENSORS}}">
            </category-default-setting>
            <category-setting-exceptions
                category="{{ContentSettingsTypes.SENSORS}}" read-only-list
                block-header="$i18n{siteSettingsBlock}"
                search-filter="[[searchFilter_]]">
            </category-setting-exceptions>
          </settings-subpage>
       </template>
     </template>
      <template is="dom-if" route-path="/content/notifications" no-search>
        <settings-subpage page-title="$i18n{siteSettingsCategoryNotifications}"
            search-label="$i18n{siteSettingsAllSitesSearch}"
            search-term="{{searchFilter_}}">
          <category-default-setting
              toggle-off-label="$i18n{siteSettingsBlocked}"
              toggle-on-label="$i18n{siteSettingsAskBeforeSendingRecommended}"
              category="{{ContentSettingsTypes.NOTIFICATIONS}}">
          </category-default-setting>
          <category-setting-exceptions
              category="{{ContentSettingsTypes.NOTIFICATIONS}}"
              block-header="$i18n{siteSettingsBlock}"
              search-filter="[[searchFilter_]]">
          </category-setting-exceptions>
        </settings-subpage>
      </template>
      <template is="dom-if" route-path="/content/flash" no-search>
        <settings-subpage page-title="$i18n{siteSettingsFlash}"
            search-label="$i18n{siteSettingsAllSitesSearch}"
            search-term="{{searchFilter_}}">
          <a class="settings-box first no-outline" tabindex="-1"
              target="_blank">
            $i18n{siteSettingsFlashPermissionsEphemeral}
          </a>
          <category-default-setting category="{{ContentSettingsTypes.PLUGINS}}"
              toggle-off-label="$i18n{siteSettingsFlashBlock}"
              toggle-on-label="$i18n{siteSettingsFlashAskFirstRecommended}">
          </category-default-setting>
<if expr="chromeos">
          <a class="settings-box inherit-color no-outline" tabindex="-1"
              target="_blank"
              href="https://www.macromedia.com/support/documentation/en/flashplayer/help/settings_manager07.html">
            <div class="start">$i18n{adobeFlashStorage}</div>
            <paper-icon-button-light actionable class="icon-external">
              <button aria-label="$i18n{adobeFlashStorage}"></button>
            </paper-icon-button-light>
          </a>
</if>
          <category-setting-exceptions
              category="{{ContentSettingsTypes.PLUGINS}}"
              block-header="$i18n{siteSettingsBlock}" read-only-list
              search-filter="[[searchFilter_]]">
          </category-setting-exceptions>
        </settings-subpage>
      </template>
      <template is="dom-if" route-path="/content/popups" no-search>
        <settings-subpage page-title="$i18n{siteSettingsCategoryPopups}"
            search-label="$i18n{siteSettingsAllSitesSearch}"
            search-term="{{searchFilter_}}">
          <category-default-setting category="{{ContentSettingsTypes.POPUPS}}"
              toggle-off-label="$i18n{siteSettingsBlockedRecommended}"
              toggle-on-label="$i18n{siteSettingsAllowed}">
          </category-default-setting>
          <category-setting-exceptions
              category="{{ContentSettingsTypes.POPUPS}}"
              block-header="$i18n{siteSettingsBlock}"
              search-filter="[[searchFilter_]]">
          </category-setting-exceptions>
        </settings-subpage>
      </template>
      <template is="dom-if" if="[[enableSafeBrowsingSubresourceFilter_]]"
          no-search>
        <template is="dom-if" route-path="/content/ads" no-search>
          <settings-subpage page-title="$i18n{siteSettingsAds}"
              search-label="$i18n{siteSettingsAllSitesSearch}"
              search-term="{{searchFilter_}}">
            <category-default-setting
                category="{{ContentSettingsTypes.ADS}}"
                toggle-off-label="$i18n{siteSettingsAdsBlockRecommended}"
                toggle-on-label="$i18n{siteSettingsAllowed}">
            </category-default-setting>
            <category-setting-exceptions
                category="{{ContentSettingsTypes.ADS}}"
                read-only-list
                block-header="$i18n{siteSettingsBlock}"
                search-filter="[[searchFilter_]]">
            </category-setting-exceptions>
          </settings-subpage>
       </template>
     </template>
     <template is="dom-if" route-path="/content/unsandboxedPlugins" no-search>
        <settings-subpage page-title="$i18n{siteSettingsUnsandboxedPlugins}"
            search-label="$i18n{siteSettingsAllSitesSearch}"
            search-term="{{searchFilter_}}">
          <category-default-setting
              toggle-off-label="$i18n{siteSettingsUnsandboxedPluginsBlock}"
              toggle-on-label=
                  "$i18n{siteSettingsUnsandboxedPluginsAskRecommended}"
              category="{{ContentSettingsTypes.UNSANDBOXED_PLUGINS}}">
          </category-default-setting>
          <category-setting-exceptions
              category="{{ContentSettingsTypes.UNSANDBOXED_PLUGINS}}"
              block-header="$i18n{siteSettingsBlock}"
              search-filter="[[searchFilter_]]">
          </category-setting-exceptions>
        </settings-subpage>
      </template>
      <template is="dom-if" route-path="/content/midiDevices" no-search>
        <settings-subpage page-title="$i18n{siteSettingsMidiDevices}"
            search-label="$i18n{siteSettingsAllSitesSearch}"
            search-term="{{searchFilter_}}">
          <category-default-setting
              toggle-off-label="$i18n{siteSettingsMidiDevicesBlock}"
              toggle-on-label=
                  "$i18n{siteSettingsMidiDevicesAskRecommended}"
              category="{{ContentSettingsTypes.MIDI_DEVICES}}">
          </category-default-setting>
          <category-setting-exceptions
              category="{{ContentSettingsTypes.MIDI_DEVICES}}" read-only-list
              block-header="$i18n{siteSettingsBlock}"
              search-filter="[[searchFilter_]]">
          </category-setting-exceptions>
        </settings-subpage>
      </template>
      <template is="dom-if" route-path="/content/usbDevices" no-search>
        <settings-subpage page-title="$i18n{siteSettingsUsbDevices}">
          <category-default-setting
              toggle-off-label="$i18n{siteSettingsUsbDevicesBlock}"
              toggle-on-label=
                  "$i18n{siteSettingsUsbDevicesAskRecommended}"
              category="{{ContentSettingsTypes.USB_DEVICES}}">
          </category-default-setting>
          <chooser-exception-list
              category="{{ContentSettingsTypes.USB_DEVICES}}"
              chooser-type="{{ChooserType.USB_DEVICES}}">
          </chooser-exception-list>
        </settings-subpage>
      </template>
      <template is="dom-if" route-path="/content/siteDetails" no-search>
        <settings-subpage page-title="[[pageTitle]]">
          <site-details
            page-title="{{pageTitle}}"
            block-autoplay-enabled="[[blockAutoplayStatus_.pref.value]]">
          </site-details>
        </settings-subpage>
      </template>
      <template is="dom-if" route-path="/cookies/detail" no-search>
        <settings-subpage page-title="[[pageTitle]]">
          <paper-button slot="subpage-title-extra" class="secondary-button"
              on-click="onRemoveAllCookiesFromSite_">
            $i18n{siteSettingsCookieRemoveAll}
          </paper-button>
          <site-data-details-subpage page-title="{{pageTitle}}">
          </site-data-details-subpage>
        </settings-subpage>
      </template>
      <template is="dom-if" route-path="/content/protectedContent" no-search>
<if expr="not chromeos">
        <settings-subpage page-title="$i18n{siteSettingsProtectedContent}">
</if>
<if expr="chromeos">
        <settings-subpage page-title="$i18n{siteSettingsProtectedContent}"
            search-label="$i18n{siteSettingsAllSitesSearch}"
            search-term="{{searchFilter_}}">
</if>
          <settings-toggle-button class="first"
              pref="{{prefs.webkit.webprefs.encrypted_media_enabled}}"
              label="[[getProtectedContentLabel_(
                  prefs.webkit.webprefs.encrypted_media_enabled.value)]]"
              disabled$="[[isGuest_]]">
          </settings-toggle-button>
<if expr="chromeos or is_win">
          <div class="settings-box first two-line">
            $i18n{siteSettingsProtectedContentIdentifiersExplanation}
          </div>
          <settings-toggle-button class="first"
              pref="{{prefs.settings.privacy.drm_enabled}}"
              label="[[getProtectedContentIdentifiersLabel_(
                  prefs.settings.privacy.drm_enabled.value)]]"
              disabled$="[[isGuest_]]">
          </settings-toggle-button>
</if>
<if expr="chromeos">
          <template is="dom-if"
              if="[[prefs.settings.privacy.drm_enabled.value]]">
            <category-setting-exceptions
                category="{{ContentSettingsTypes.PROTECTED_CONTENT}}"
                block-header="$i18n{siteSettingsBlock}"
                search-filter="[[searchFilter_]]">
            </category-setting-exceptions>
          </template>
</if>
        </settings-subpage>
      </template>
      <template is="dom-if" if="[[enableClipboardContentSetting_]]">
        <template is="dom-if" route-path="/content/clipboard" no-search>
          <settings-subpage page-title="$i18n{siteSettingsClipboard}"
              search-label="$i18n{siteSettingsAllSitesSearch}"
              search-term="{{searchFilter_}}">
            <category-default-setting
                toggle-off-label="$i18n{siteSettingsClipboardBlock}"
                toggle-on-label="$i18n{siteSettingsClipboardAskRecommended}"
                category="{{ContentSettingsTypes.CLIPBOARD}}">
            </category-default-setting>
            <category-setting-exceptions
                category="{{ContentSettingsTypes.CLIPBOARD}}"
                block-header="$i18n{siteSettingsBlock}"
                search-filter="[[searchFilter_]]">
            </category-setting-exceptions>
          </settings-subpage>
       </template>
      </template>
      <template is="dom-if" if="[[enablePaymentHandlerContentSetting_]]">
        <template is="dom-if" route-path="/content/paymentHandler" no-search>
          <settings-subpage page-title="$i18n{siteSettingsPaymentHandler}"
              search-label="$i18n{siteSettingsAllSitesSearch}"
              search-term="{{searchFilter_}}">
            <category-default-setting
                toggle-off-label="$i18n{siteSettingsPaymentHandlerBlock}"
                toggle-on-label="$i18n{siteSettingsPaymentHandlerAllowRecommended}"
                category="[[ContentSettingsTypes.PAYMENT_HANDLER]]">
            </category-default-setting>
            <category-setting-exceptions
                category="[[ContentSettingsTypes.PAYMENT_HANDLER]]"
                block-header="$i18n{siteSettingsBlocked}"
                search-filter="[[searchFilter_]]">
            </category-setting-exceptions>
          </settings-subpage>
       </template>
      </template>
    </settings-animated-pages>

    <template is="dom-if" if="[[showSignoutDialog_]]" restamp>
      <settings-signout-dialog sync-status="[[syncStatus]]"
          on-close="onSignoutDialogClosed_">
      </settings-signout-dialog>
    </template>

<if expr="not chromeos">
    <cr-toast id="toast" open="[[showRestart_]]">
      <div>$i18n{restartToApplyChanges}</div>
      <paper-button on-click="onRestartTap_">
        $i18n{restart}
      </paper-button>
    </cr-toast>
</if>
  </template>
  <script src="privacy_page.js"></script>
</dom-module>
