<link rel="import" href="chrome://resources/html/polymer.html">

<link rel="import" href="management_browser_proxy.html">
<link rel="import" href="../settings_shared_css.html">
<link rel="import" href="../icons.html">
<link rel="import" href="chrome://resources/html/i18n_behavior.html">
<link rel="import" href="chrome://resources/polymer/v1_0/iron-icon/iron-icon.html">

<dom-module id="settings-management-page">
  <template>
    <style include="settings-shared">
      cr-policy-indicator {
        margin-inline-start: var(--cr-controlled-by-spacing);
      }

      h2 {
        @apply --cr-title-text;
        font-weight: 600;
      }

      ul {
        list-style-type : none;
        margin: 0;
        padding: 0;
        text-align: start;
      }

      #reportingInfoList div {
        align-items: center;
        display: flex;
      }

      #reportingInfoList div + div {
        margin-top: 2em;
      }

      #reportingInfoList iron-icon {
        margin-inline-end: 10px;
        width: 24px;
      }

      #reportingInfoList,
      #extensionsTable {
        margin-bottom: 2em;
      }

      .table-head {
        font-weight: 500;
      }

      .extension-name {
        width: 30%;
      }

      .extension-permissions {
        width: 70%;
      }

      .content-indented {
        margin-inline-start: 20px;
      }

      .subtitle {
        margin-bottom: 1em;
        margin-top: 1em;
      }

    </style>
      <!--  This is where page content gets dynamically added. -->

      <div class="settings-box two-line single-column"
           id="managementStatus" hidden>
        <span id="managementStatusInfo">
          <a href="$i18nRaw{managementLearnMoreUrl}" target="_blank">
            $i18n{learnMore}</a>
        </span>
      </div>

      <template is="dom-if" if="[[!shouldHidePolicies_(reportingDevice_,
          reportingSecurity_, reportingUserActivity_, reportingWeb_)]]">
        <div class="settings-box block single-column" id="policies">
          <h2>$i18n{managementDeviceReporting}</h2>
          <div class="content-indented subtitle" id="deviceConfiguration">
              $i18n{managementDeviceConfiguration}
          </div>
          <div id="reportingInfoList">
            <div class="content-indented"
              hidden$="[[!reportingDevice_.length]]">
              <iron-icon icon="settings:computer"></iron-icon>
              <ul>
                <template is="dom-repeat" items="[[reportingDevice_]]">
                  <li>[[i18n(item)]]</li>
                </template>
              </ul>
            </div>
            <div class="content-indented"
              hidden$="[[!reportingSecurity_.length]]">
              <iron-icon icon="settings:security"></iron-icon>
              <ul>
                <template is="dom-repeat" items="[[reportingSecurity_]]">
                  <li>[[i18n(item)]]</li>
                </template>
              </ul>
            </div>
            <div class="content-indented"
              hidden$="[[!reportingUserActivity_.length]]">
              <iron-icon icon="settings:person"></iron-icon>
              <ul>
                <template is="dom-repeat" items="[[reportingUserActivity_]]">
                  <li>[[i18n(item)]]</li>
                </template>
              </ul>
            </div>
            <div class="content-indented" hidden$="[[!reportingWeb_.length]]">
              <iron-icon icon="settings:public"></iron-icon>
              <ul>
                <template is="dom-repeat" items="[[reportingWeb_]]">
                  <li>[[i18n(item)]]</li>
                </template>
              </ul>
            </div>
          </div>
        </div>
      </template>

      <div class="settings-box two-line single-column" id="extensions" hidden>
        <h2>$i18n{managementExtensionReporting}</h2>
        <div class="content-indented subtitle" id="extensionsInstalled">
          $i18n{managementExtensionsInstalled}
        </div>
        <table class="content-indented" id="extensionsTable">
          <tr>
              <td class="extension-name table-head">
                $i18n{managementExtensionName}
              </td>
              <td class="extension-permissions table-head">
                $i18n{managementExtensionPermissions}
              </td>
          </tr>
        </table>
      </div>

      <div class="settings-box two-line single-column" id="trustRoots" hidden>
          <h2>$i18n{managementLocalTrustRoots}</h2>
          <div class="content-indented" id="trustRootsConfiguration"></div>
      </div>
  </template>
  <script src="management_page.js"></script>
</dom-module>
